#jinja2: lstrip_blocks: True
mdd:openconfig:
  openconfig-system:system:
{% if timezone_name is defined and timezone_name %}
    clock:
      config:
        timezone-name: {{ timezone_name }}
{% endif %}
    config:
{#      openconfig-system-ext:enable-secret: 'admin'#}
      openconfig-system-ext:console-exec-timeout-seconds: '600'
{% if domain_name is defined and domain_name %}
      domain-name: {{ domain_name }}
{% endif %}
      hostname: {{ inventory_hostname }}
{% if login_banner is defined and login_banner %}
      login-banner: |
        {{ login_banner | indent(8) }}
{% endif %}
{% if motd_banner is defined and motd_banner %}
      motd-banner: |
        {{ motd_banner | indent(8) }}
{% endif %}
{% if dns_servers is defined and dns_servers | length %}
    dns:
      servers:
        server:
        {% for server_ip in dns_servers %}
        -   address: {{ server_ip }}
            config:
              address: {{ server_ip }}
              port: '53'
        {% endfor %}
{% endif %}
{% if enable_ssh | default('false') | bool %}
    ssh-server:
      config:
        openconfig-system-ext:absolute-timeout-minutes: '1200'
        openconfig-system-ext:ssh-timeout: '60'  # ip ssh timeout
        openconfig-system-ext:ssh-source-interface: 'GigabitEthernet1/0'
        enable: true  #   adds line transport input ssh; must be enabled for this to work
        protocol-version: 'V2'  # ip ssh version 2
        rate-limit: '0'  # unsupported in ios
        session-limit: '16' # line session-limit 16
        timeout: '1800'  # seconds - line exec-timeout 30 0
{% endif %}