{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 8,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": {
        "type": "datasource",
        "uid": "grafana"
      },
      "description": "",
      "gridPos": {
        "h": 2,
        "w": 4,
        "x": 0,
        "y": 0
      },
      "id": 2,
      "options": {
        "code": {
          "language": "plaintext",
          "showLineNumbers": false,
          "showMiniMap": false
        },
        "content": " [Return To main dashboard](http://{{ host_address }}:{{ grafana_port }}/d/{{ grafana_main_dashboard_uid }}/?orgId=1)\n\n",
        "mode": "markdown"
      },
      "pluginVersion": "10.0.2",
      "title": "Device: $deviceName",
      "type": "text"
    },
    {
      "datasource": {
        "type": "influxdb",
        "uid": "{{ datasource_uid }}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "cellOptions": {
              "type": "auto"
            },
            "inspect": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Time"
            },
            "properties": [
              {
                "id": "custom.hidden",
                "value": true
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "care_stigs.failure"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "Failed Stigs"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 14,
        "w": 16,
        "x": 4,
        "y": 0
      },
      "id": 1,
      "links": [],
      "options": {
        "cellHeight": "sm",
        "footer": {
          "countRows": false,
          "enablePagination": true,
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": false,
        "sortBy": [
          {
            "desc": true,
            "displayName": "Time"
          }
        ]
      },
      "pluginVersion": "10.0.2",
      "targets": [
        {
          "alias": "",
          "datasource": {
            "type": "influxdb",
            "uid": "{{ datasource_uid }}"
          },
          "groupBy": [],
          "measurement": "care_stigs",
          "orderByTime": "ASC",
          "policy": "autogen",
          "query": "SELECT failure\nFROM \"autogen\".\"care_stigs\"\nWHERE device_time=$deviceTime AND device='$deviceName' AND type='stig_failure'",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "Device"
                ],
                "type": "field"
              }
            ]
          ],
          "tags": [
            {
              "key": "Device::field",
              "operator": "=~",
              "value": "/^$deviceName$/"
            }
          ]
        }
      ],
      "title": "Failed Stigs",
      "transformations": [
        {
          "id": "joinByField",
          "options": {}
        }
      ],
      "type": "table"
    },
    {
      "datasource": {
        "type": "influxdb",
        "uid": "{{ datasource_uid }}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "dark-green",
                "value": null
              },
              {
                "color": "#EAB839",
                "value": 35
              },
              {
                "color": "#d00018",
                "value": 65
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 4,
        "x": 0,
        "y": 2
      },
      "id": 3,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false
      },
      "pluginVersion": "10.0.2",
      "targets": [
        {
          "datasource": {
            "type": "influxdb",
            "uid": "{{ datasource_uid }}"
          },
          "query": "SELECT  failures + cond_passes + passes AS Total, failures + cond_passes\nFROM \"autogen\".\"care_stigs\"\nWHERE device_time=$deviceTime AND device='$deviceName' AND type='device'",
          "rawQuery": true,
          "refId": "A",
          "resultFormat": "time_series"
        }
      ],
      "title": "Open Findings",
      "transformations": [
        {
          "id": "reduce",
          "options": {
            "labelsToFields": false,
            "reducers": [
              "max"
            ]
          }
        }
      ],
      "type": "gauge"
    }
  ],
  "refresh": "",
  "schemaVersion": 38,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "hide": 2,
        "name": "deviceName",
        "query": "",
        "skipUrlSync": false,
        "type": "constant"
      },
      {
        "hide": 2,
        "name": "deviceTime",
        "query": "",
        "skipUrlSync": false,
        "type": "constant"
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Device Stigs Failed",
  "uid": "{{ grafana_stig_fail_uid }}",
  "version": 56,
  "weekStart": ""
}
